.card-section {
    background-color: #0073e6;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.lefts {
    display: flex;
    justify-content: center;
}

.card-image {
    height: 100px;
    width: 100px;
}

.texts-content{
    text-align: left;
    color: #fff;
}

.texts-content h1 {
    font-size: .8em;
    line-height: 1.2;
}

.texts-content p {
    font-size: .8em;
    margin: 10px 0;
}

.app-buttons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.app-button {
    height: 40px;
    background-color: #000;
    border: 1px solid white;
    color: #fff;
    font-size: 10px;
}

.chats-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.chat-btns, .call-btns {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    background-color: orange;
    color: white;
}
